@model FileUploadsInAspNetMvc.Models.CareElderItem

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CareElderItem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PSId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PSId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareSubject)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareSubject)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubjectType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubjectType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CareContent)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CareContent)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ContentType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ContentType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Memo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Memo)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
